<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" 
      type="image/png" 
      href="/static/favicon.ico">
    <title>Welcome to the COVID API documentation</title>
</head>
<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Visualizations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">API</a>
        </li>
    </ul>
    <hr>
    <div class="jumbotron">
        <h1 class="display-4 d-flex justify-content-center">Welcome to the COVID API documentation</h1>
        <p class="lead d-flex justify-content-center">Below, you'll find links and examples for how to use our API. The results are returned as JSONified data.</p>
        <p class="d-flex justify-content-center"style="color:red;">Data last updated: 10/5/2020</p>
      </div>
    <div class="container">
        <div class="row">
            <div class="col-lg" align="center">
                <h2> Combined data</h2>
                <p>A combination of the covid data, mask data, and county data, can be accessed via the:</p>
                    <a href='./combined-data/'><button>Combined API</a></button> <br><br>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md">
                <h2>Cases and deaths</h2>
                <p>COVID-19 cases and deaths county data gathered from the New York Times COVID-19 project on GitHub can be accessed via the:</p>
                <a href='/api/v1.0/covid-all'><button>Covid API</a></button><br><br>
                <p>To filter this data by state, append the two-letter state abbreviation after the slash. For example, for North Carolina, use: <a href='./covid-all/nc'>covid-all/nc</a></p>
            </div>

            <div class="col-md">
                <h2>Mask use</h2>
                <p>Mask use data gathered from the New York Times COVID-19 project on GitHub can be accessed via the:</p>
                <a href='/api/v1.0/masks'><button>Masks API</a></button>
            </div>
        </div>  
        <hr>              
        <div class="row">
            <div class="col-md">
                <h2>Covid tracking project all data</h2>
                <p>Data from the Covid Tracking Projec (all-time) can be accessed via the:</p>
                <a href='/api/v1.0/covidtracking-all'><button>Covid all API</a></button><br><br>
            </div>
            <div class="col-md">
                <h2>Covid tracking project current data</h2>
                <p>Data from the Covid Tracking Projec (current) can be accessed via the:</p>
                <a href='/api/v1.0/covidtracking-current'><button>Covid current API</a></button><br><br>
                
            </div>
        </div>
        <hr> 
        <div class="row">
            <div class="col-md">
                <h2>CDC data</h2>
                <p>CDC data can be accessed via the:</p>
                <a href='/api/v1.0/cdc'><button>CDC API</a></button>
                
            </div>
            <div class="col-md">
                <h2>County data</h2>
                <p>County data used to plot and display stats on maps can be accessed via the:</p>
                <a href='/api/v1.0/counties'><button>Counties API</a></button>
            </div>
        </div>

    </div>
    <br><br><br>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>